.sw-continer {
    /* background-color: red; */
    background-color: rgb(147, 143, 143);
    /* border: 1px solid white; */
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.sw-title {
    height: 25%;
    margin: 0px  auto;
    padding: 5px;
    /* background-color: mediumslateblue; */
    /* border: 1px solid white; */
    color: white;
}


.header{
    height: 20%;
    /* background-color: fuchsia; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}