
.s-continer {
    height: 65%;
    /* background-color: yellow; */
    color: black;
    overflow: auto;
}

.s-p-row {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}