.bt-continer {
    height: 15%;
}

.bt-start-buttun {
    background-color: white;
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.bt-buttun{
    background-color: white;
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
}

.bt-stop-buttun {
    background-color: red;
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

/* .bt-stop2-buttun {
    align-items: center;
} */

/* .bt-play-buttun {
    align-items: center;
} */
