.continer-buttonTimer {
    height: 15%;
    /* background-color: rgb(13, 106, 101); */
    display: flex;
    justify-content: space-between;
}

.buttun-start-buttonTimer {
    background-color: white;
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
}

.buttun-buttonTimer {
    background-color: white;
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
}